<section class="panel panel-primary">
  <header class="panel-heading text-center">
    <%= "#{@user.name}'s Friends" %>
  </header>

  <section class="panel-body">
    <%= render @friends %>
  </section>

  <footer class="panel-footer text-center">
    <%= will_paginate @friends, renderer: BootstrapPagination::Rails %>
    <% if @user == current_user %>
      <%= link_to "Upload Photo!", new_photo_path, class: "btn btn-primary btn-block" %>
    <% end %>
  </footer>
</section>
