<section class="panel panel-primary">
  <header class="panel-heading text-center">
    <%= info =="profile" ? "About" : "#{info.capitalize} (#{@user.send(info).count})" %>
  </header>

  <section class="panel-body">
    <%= render "user_#{info}" %>
  </section>

  <footer class="panel-footer text-center">
    <%= link_to "See more #{info}!", [@user, info] %>
  </footer>
</section>
