<div class="row">
  <% @friends.each do |friend| %>
    <div class="col-xs-4">
      <%= link_to user_path(friend) do %>
        <%= profile_photo(friend, :medium, "img-responsive img-thumbnail") %>
        <%= friend.first_name %><br>
        <%= friend.last_name %>
      <% end %>
    </div>
  <% end %>
</div>
