<div class="row">
  <%= link_to "Set Profile Photo", update_profile_photo_path(@photo.id),
                                    method: "PATCH",
                                    class: "pull-left col-xs-3" %>
  <%= link_to "Set Cover Photo", update_cover_photo_path(@photo.id),
                                  method: "PATCH",
                                  class: "pull-right col-xs-3" %>
</div>
