<%= form_for(current_user.posts.build, {html: { :class => "panel panel-primary" }, url: {controller: 'posts', action: :create }, remote: true }) do |post_fields| %>
  <header class="panel-heading">
    New Post
  </header>

  <section class="panel-body">
    <%= post_fields.text_area :content, :class => "form-control", rows: 3, placeholder: "What's on your mind?" %>
  </section>

  <footer class="panel-footer">
    <%= post_fields.submit 'Post!', :class => "btn btn-large btn-primary btn-block" %>
  </footer>
<% end %>
