.home-info {
  ul {
    line-height: 54px;
    font-size: 16px;
    color: #777;
  }
}

body {
  background-color: #EDF0F5!important;
  margin-top: 50px;
}

main {
  padding-top: 15px;
}

.field_with_errors, .error {
  * {
    border-color: red!important;
  }
}

.panel-heading {
  a {
    color: #fff;
  }
}
